.git
.github
.gitignore
node_modules
vendor
.env.docker
*.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/build
public/storage
docker/nginx
docker-compose*.yml
Dockerfile
*.md
tests
.cursor
.code-review-graph
